<h1 class="mb-4"><%= @category.name %></h1>
<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
   <% if @category.recipes.any? %>
    <ul>
      <% @category.bookmarks.each do |bookmark| %>
        <li>
        <h3><%= bookmark.recipe.name %></h3>
        <p><%= bookmark.recipe.description %></p>
        <%= link_to 'Remove', bookmark_path(bookmark), class: 'btn btn-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
      <% end %>
    </ul>
    <% else %>
      <p>You haven't saved any recipes yet!</p>
    <% end %>
    <div>
      <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: 'btn btn-flat' %>
    </div>
    <div>
      <%= link_to 'Back to cookbook', categories_path(@categories), class: 'btn btn-secondary mt-3' %>
    </div>
  </div>
</div>
