<h1 class="mb-4"><%= @category.name %></h1>

<div class="container mb-5">
  <ul>
    <% @category.bookmarks.each do |bookmark| %>
      <% if bookmark.recipe.present? %>
        <li>
          <h3><%= bookmark.recipe.name %></h3>
          <p><%= bookmark.recipe.description %></p>
          <p><%= bookmark.comment%></p>
          <%= link_to 'Remove', category_bookmark_path(@category, bookmark), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </li>
      <% else %>
        <p>You haven't saved any recipes yet!</p>
      <% end %>
    <% end %>
  </ul>
  <div>
    <%= link_to "Add a recipe", new_category_bookmark_path(@category), class: 'btn btn-flat' %>
  </div>
  <div>
    <%= link_to 'Back to cookbook', categories_path, class: 'btn btn-secondary mt-3' %>
  </div>
</div>
